USE [master]
GO
/****** Object:  Database [Hospital_BukarevBedin_2ISP11-41]    Script Date: 15.04.2026 13:38:25 ******/
CREATE DATABASE [Hospital_BukarevBedin_2ISP11-41]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopDB_BukarevBedin_2ISP11-41', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Hospital_BukarevBedin_2ISP11-41.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopDB_BukarevBedin_2ISP11-41_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Hospital_BukarevBedin_2ISP11-41_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hospital_BukarevBedin_2ISP11-41].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hospital_BukarevBedin_2ISP11-41]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AvgServiceCost]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_AvgServiceCost] ()
RETURNS MONEY
AS
BEGIN
    RETURN (SELECT AVG(Cost) FROM MedicalService);
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetAge]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_GetAge] (@BirthDate DATETIME)
RETURNS INT
AS
BEGIN
    RETURN DATEDIFF(YEAR, @BirthDate, GETDATE()) - 
           CASE WHEN (MONTH(@BirthDate) > MONTH(GETDATE())) OR 
                     (MONTH(@BirthDate) = MONTH(GETDATE()) AND DAY(@BirthDate) > DAY(GETDATE())) 
                THEN 1 ELSE 0 END;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetEndTime]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_GetEndTime] (@StartTime DATETIME, @Duration INT)
RETURNS DATETIME
AS
BEGIN
    RETURN DATEADD(MINUTE, @Duration, @StartTime);
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_getFullName]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_getFullName] (@FullName NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @Result NVARCHAR(MAX);
    -- Убираем лишние пробелы, разбиваем и собираем в формате ФАМИЛИЯ И. И.
    -- Для простоты используем логику работы с ФИО через пробелы
    SET @FullName = LTRIM(RTRIM(@FullName));
    
    DECLARE @LastName NVARCHAR(100) = LEFT(@FullName, CHARINDEX(' ', @FullName + ' ') - 1);
    DECLARE @Remainder NVARCHAR(MAX) = LTRIM(SUBSTRING(@FullName, LEN(@LastName) + 1, LEN(@FullName)));
    DECLARE @FirstName NVARCHAR(100) = LEFT(@Remainder, CHARINDEX(' ', @Remainder + ' ') - 1);
    DECLARE @MiddleName NVARCHAR(100) = LTRIM(SUBSTRING(@Remainder, LEN(@FirstName) + 1, LEN(@Remainder)));

    SET @Result = UPPER(@LastName + ' ' + LEFT(@FirstName, 1) + '. ' + LEFT(@MiddleName, 1) + '.');
    RETURN @Result;
END;

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[MName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [nchar](15) NOT NULL,
	[IDGender] [int] NOT NULL,
	[DateOfBirthday] [date] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[MName] [nvarchar](50) NULL,
	[PassportSeries] [nchar](4) NOT NULL,
	[PassportNumber] [nchar](6) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[DateOfBirthday] [date] NOT NULL,
	[Phone] [nchar](15) NOT NULL,
	[IDDepartment] [int] NOT NULL,
	[IDPost] [int] NOT NULL,
	[IDGender] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalService]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalService](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TitleService] [nvarchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[QNT] [int] NOT NULL,
 CONSTRAINT [PK_MedicalService] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PostName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDEmployee] [int] NOT NULL,
	[IDMedicalService] [int] NOT NULL,
	[DateService] [datetime] NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDAppointment] [int] NOT NULL,
	[IDPatient] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_AppointmentFullInfo]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_AppointmentFullInfo] AS
SELECT 
    p.LName + ' ' + p.FName + ' ' + p.MName AS PatientFIO,
    ms.TitleService AS ServiceName,
    e.LName + ' ' + SUBSTRING(e.FName, 1, 1) + '.' + SUBSTRING(e.MName, 1, 1) + '.' AS EmployeeShort,
    post.PostName
FROM Appointment app
JOIN MedicalService ms ON app.IDMedicalService = ms.ID
JOIN Employee e ON app.IDEmployee = e.ID
JOIN Post post ON e.IDPost = post.ID
JOIN [Order] ord ON ord.IDAppointment = app.ID
JOIN Patient p ON ord.IDPatient = p.ID;
GO
/****** Object:  Table [dbo].[Department]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DepartmentInfo]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_DepartmentInfo] AS
SELECT 
    p.LName + ' ' + p.FName + ' ' + p.MName AS PatientFIO,
    ms.TitleService AS ServiceName,
    e.LName + ' ' + SUBSTRING(e.FName, 1, 1) + '.' + SUBSTRING(e.MName, 1, 1) + '.' AS EmployeeShort,
    dep.DepartmentName -- Исправил Name на DepartmentName
FROM Appointment app
JOIN MedicalService ms ON app.IDMedicalService = ms.ID
JOIN Employee e ON app.IDEmployee = e.ID
JOIN Department dep ON e.IDDepartment = dep.ID
JOIN [Order] ord ON ord.IDAppointment = app.ID
JOIN Patient p ON ord.IDPatient = p.ID;
GO
/****** Object:  View [dbo].[View_TopServices]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_TopServices] AS
SELECT 
    ms.TitleService,
    COUNT(app.ID) OVER(PARTITION BY ms.ID) AS UsageCount,
    e.LName + ' ' + e.FName + ' ' + e.MName AS EmployeeFIO,
    post.PostName
FROM Appointment app
JOIN MedicalService ms ON app.IDMedicalService = ms.ID
JOIN Employee e ON app.IDEmployee = e.ID
JOIN Post post ON e.IDPost = post.ID
WHERE ms.ID IN (
    SELECT IDMedicalService 
    FROM Appointment 
    GROUP BY IDMedicalService 
    HAVING COUNT(*) > 5
);
GO
/****** Object:  View [dbo].[View_OctoberPatients]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_OctoberPatients] AS
SELECT 
    ms.TitleService,
    p.LName + ' ' + p.FName + ' ' + p.MName AS PatientFIO,
    p.DateOfBirthday
FROM Appointment app
JOIN MedicalService ms ON app.IDMedicalService = ms.ID
JOIN [Order] ord ON ord.IDAppointment = app.ID
JOIN Patient p ON ord.IDPatient = p.ID
WHERE MONTH(p.DateOfBirthday) = 10;
GO
/****** Object:  View [dbo].[View_March2020Sales]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * FROM View_March2020Sales

CREATE   VIEW [dbo].[View_March2020Sales] AS
SELECT 
    p.LName + ' ' + SUBSTRING(p.FName, 1, 1) + '.' + SUBSTRING(p.MName, 1, 1) + '.' AS PatientShort,
    ms.TitleService,
    ms.Cost,
    app.DateService,
    ms.Duration
FROM Appointment app
JOIN MedicalService ms ON app.IDMedicalService = ms.ID
JOIN [Order] ord ON ord.IDAppointment = app.ID
JOIN Patient p ON ord.IDPatient = p.ID
-- Март 2020: от 1 марта (включительно) до 1 апреля (не включая)
WHERE app.DateService >= '20220301' AND app.DateService < '20220401';
GO
/****** Object:  Table [dbo].[Diagnosis]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnosis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DiagnosisName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Diagnosis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientDiagnosis]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientDiagnosis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPatient] [int] NOT NULL,
	[IDDiagnosis] [int] NOT NULL,
 CONSTRAINT [PK_PatientDiagnosis] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TegOfClient]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TegOfClient](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDPatient] [int] NOT NULL,
	[TagName] [nvarchar](100) NULL,
	[DateAssigned] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MedicalService] ADD  CONSTRAINT [DF_MedicalService_Duration]  DEFAULT ((60)) FOR [Duration]
GO
ALTER TABLE [dbo].[TegOfClient] ADD  DEFAULT (getdate()) FOR [DateAssigned]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_MedicalService] FOREIGN KEY([IDMedicalService])
REFERENCES [dbo].[MedicalService] ([ID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_MedicalService]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([IDDepartment])
REFERENCES [dbo].[Department] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Gender] FOREIGN KEY([IDGender])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Gender]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Post] FOREIGN KEY([IDPost])
REFERENCES [dbo].[Post] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Post]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Appointment] FOREIGN KEY([IDAppointment])
REFERENCES [dbo].[Appointment] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Appointment]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Patient] FOREIGN KEY([IDPatient])
REFERENCES [dbo].[Patient] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Patient]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Gender] FOREIGN KEY([IDGender])
REFERENCES [dbo].[Gender] ([ID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Gender]
GO
ALTER TABLE [dbo].[PatientDiagnosis]  WITH CHECK ADD  CONSTRAINT [FK_PatientDiagnosis_Diagnosis] FOREIGN KEY([IDDiagnosis])
REFERENCES [dbo].[Diagnosis] ([ID])
GO
ALTER TABLE [dbo].[PatientDiagnosis] CHECK CONSTRAINT [FK_PatientDiagnosis_Diagnosis]
GO
ALTER TABLE [dbo].[PatientDiagnosis]  WITH CHECK ADD  CONSTRAINT [FK_PatientDiagnosis_Patient] FOREIGN KEY([IDPatient])
REFERENCES [dbo].[Patient] ([ID])
GO
ALTER TABLE [dbo].[PatientDiagnosis] CHECK CONSTRAINT [FK_PatientDiagnosis_Patient]
GO
ALTER TABLE [dbo].[TegOfClient]  WITH CHECK ADD  CONSTRAINT [FK_TegOfClient_Patient] FOREIGN KEY([IDPatient])
REFERENCES [dbo].[Patient] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TegOfClient] CHECK CONSTRAINT [FK_TegOfClient_Patient]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CHK_Employee_DateOfBirthday] CHECK  (([DateOfBirthday]<=CONVERT([date],getdate()) AND [DateOfBirthday]>=dateadd(year,(-120),CONVERT([date],getdate()))))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CHK_Employee_DateOfBirthday]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CHK_Employee_FName] CHECK  (([FName] IS NOT NULL AND len(ltrim(rtrim([FName])))>(0) AND NOT [FName] like '%[^a-zA-Zа-яА-ЯёЁ \-'']%'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CHK_Employee_FName]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CHK_Employee_LName] CHECK  (([LName] IS NOT NULL AND len(ltrim(rtrim([LName])))>(0) AND NOT [LName] like '%[^a-zA-Zа-яА-ЯёЁ \-'']%'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CHK_Employee_LName]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CHK_Employee_MName] CHECK  (([MName] IS NOT NULL AND len(ltrim(rtrim([MName])))>(0) AND NOT [MName] like '%[^a-zA-Zа-яА-ЯёЁ \-'']%'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CHK_Employee_MName]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CHK_Employee_PassportNumber] CHECK  (([PassportNumber] IS NOT NULL))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CHK_Employee_PassportNumber]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CHK_Employee_PassportSeries] CHECK  (([PassportSeries] IS NOT NULL))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CHK_Employee_PassportSeries]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [CHK_Employee_Phone] CHECK  (([Phone] IS NULL OR [Phone] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [CHK_Employee_Phone]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_DateOfBirthday] CHECK  (([DateOfBirthday]<=CONVERT([date],getdate()) AND [DateOfBirthday]>=dateadd(year,(-120),CONVERT([date],getdate()))))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CHK_Patient_DateOfBirthday]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_Email] CHECK  (([Email] IS NULL OR [Email] like '%_@__%.__%' AND NOT [Email] like '%@%@%' AND len([Email])>=(5)))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CHK_Patient_Email]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_FName] CHECK  (([FName] IS NOT NULL AND len(ltrim(rtrim([FName])))>(0) AND NOT [FName] like '%[^a-zA-Zа-яА-ЯёЁ \-'']%'))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CHK_Patient_FName]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_LName] CHECK  (([LName] IS NOT NULL AND len(ltrim(rtrim([LName])))>(0) AND NOT [LName] like '%[^a-zA-Zа-яА-ЯёЁ \-'']%'))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CHK_Patient_LName]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_MName] CHECK  (([MName] IS NOT NULL AND len(ltrim(rtrim([MName])))>(0) AND NOT [MName] like '%[^a-zA-Zа-яА-ЯёЁ \-'']%'))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CHK_Patient_MName]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CHK_Patient_Phone] CHECK  (([Phone] IS NULL OR [Phone] like '%[0-9]%'))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CHK_Patient_Phone]
GO
/****** Object:  StoredProcedure [dbo].[AddAppointment]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AddAppointment]
    @ServiceName NVARCHAR(100),
    @AppDate DATETIME,
    @Phone NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @PatientID INT, @ServiceID INT, @PatientFIO NVARCHAR(200), @DoctorID INT;

    -- 1. Ищем пациента
    SELECT @PatientID = ID, @PatientFIO = LName + ' ' + SUBSTRING(FName,1,1) + '.' + SUBSTRING(MName,1,1) + '.' 
    FROM Patient WHERE Phone = @Phone;

    IF @PatientID IS NULL
    BEGIN
        PRINT N'Клиента с указанным номером телефона нет в базе данных, для записи на услугу добавьте сведения о клиенте';
        RETURN;
    END

    -- 2. Ищем услугу
    SELECT @ServiceID = ID FROM MedicalService WHERE TitleService = @ServiceName;

    IF @ServiceID IS NULL
    BEGIN
        PRINT N'Проверьте правильность наименования процедуры, такой в нашей больнице нет';
        RETURN;
    END

    -- 3. Выбираем врача (первого свободного или любого для теста)
    SELECT TOP 1 @DoctorID = ID FROM Employee;

    -- 4. Добавляем запись в Appointment
    INSERT INTO Appointment (DateService, IDMedicalService, IDEmployee)
    VALUES (@AppDate, @ServiceID, @DoctorID);

    -- 5. Привязываем к заказу (Order), чтобы закрепить за пациентом
    DECLARE @NewAppID INT = SCOPE_IDENTITY();
    INSERT INTO [Order] (IDPatient, IDAppointment)
    VALUES (@PatientID, @NewAppID);

    PRINT N'Запись на процедуру успешно добавлена! ' + @PatientFIO + N' записан на процедуру ' + @ServiceName + N' на ' + CONVERT(NVARCHAR, @AppDate, 120);
END;
GO
/****** Object:  StoredProcedure [dbo].[GetClientsNumberByCity]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[GetClientsNumberByCity]
    @City NVARCHAR(100),
    @IntervalStart DATETIME,
    @IntervalEnd DATETIME,
    @ClientsNumber INT OUTPUT -- Выходной параметр
AS
BEGIN
    SELECT @ClientsNumber = COUNT(DISTINCT p.ID)
    FROM Patient p
    JOIN [Order] ord ON p.ID = ord.IDPatient
    JOIN Appointment app ON ord.IDAppointment = app.ID
    WHERE p.[Address] LIKE '%' + @City + '%'
      AND app.DateService BETWEEN @IntervalStart AND @IntervalEnd;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetServiceList]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetServiceList]
AS
BEGIN
    SELECT TitleService, Duration, Cost 
    FROM MedicalService;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetServiceStats]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC GetServiceStats @ServiceName = N'УЗИ'
CREATE PROCEDURE [dbo].[GetServiceStats] 
    @ServiceName NVARCHAR(100)
AS
BEGIN
    SELECT 
        ms.TitleService,
        COUNT(app.ID) AS UsageCount,
        SUM(ms.Cost) AS TotalRevenue
    FROM MedicalService ms
    LEFT JOIN Appointment app ON ms.ID = app.IDMedicalService
    WHERE ms.TitleService LIKE @ServiceName + '%' -- Добавляем маску
    GROUP BY ms.TitleService;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTop5Services]    Script Date: 15.04.2026 13:38:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTop5Services]
AS
BEGIN
    SELECT TOP 5 
        ms.TitleService, 
        COUNT(app.ID) AS UsageCount
    FROM Appointment app
    JOIN MedicalService ms ON app.IDMedicalService = ms.ID
    GROUP BY ms.TitleService
    ORDER BY UsageCount DESC;
END;
GO
USE [master]
GO
